$icons: arrow-up-right, heart, heart-fill, list, magnifying-glass, shopping-cart, star, x;

.icon {
  display: inline-block;
  flex-shrink: 0;
  inline-size: var(--icon-size, 22px);
  block-size: var(--icon-size, 22px);
  background-color: currentColor;
  mask-position: center;
  mask-size: contain;
  mask-repeat: no-repeat;
}

@each $name in $icons {
  .#{$name} {
    mask-image: url('/icons/#{$name}.svg');
  }
}
